body {
    font-family: Calibri, sans-serif;
    font-size: 11pt;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: #000000d8;
    color: #ffffff;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #007bff;
    color: #ffffff;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
}

.form-section {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.table-section {
    margin-top: 40px;
    width: 80%;
    margin: 0 auto;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 11pt;
    color: black;
    background-color: #ffffff;
}

table,
th,
td {
    border: 1px solid #007bff;
}

th,
td {
    padding: 8px;
    text-align: left;
}

.copy-button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.copy-button:hover {
    background-color: #36699e;
}

#submitButton {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#submitButton:hover {
    background-color: #025ec0;
}

#url {
    width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}