<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Transcript Utility</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">YouTube Transcript Utility</div>
            <nav>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </nav>
        </header>
        <main>
            <section class="form-section">

                <p>This utility will process the transcript from a YouTube video and create a table <br> that can be
                    copied and pasted into a OneNote document.</p>

                <form id="question-form" method="POST" action="/fetch">
                    <input type="text" id="url" name="url" placeholder="Enter a YouTube URL" required>
                    <button type="submit" id="submitButton">Fetch</button>
                </form>

            </section>
            <section class="table-section">

                {% if transcript is not none %}

                <button class="copy-button" id="copyButton">Copy Table to Clipboard</button>
                <table>
                    <tbody id="tableBody">
                        {% for row in transcript %}
                        <tr>
                            <td>{{ row.start }}</td>
                            <td>{{ row.text}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% endif %}

            </section>
        </main>
    </div>
    <script>
        document.getElementById('copyButton').addEventListener('click', function () {
            const table = document.querySelector('table');
            const range = document.createRange();
            range.selectNode(table);
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
            try {
                document.execCommand('copy');
                alert('Table copied to clipboard!');
            } catch (err) {
                alert('Failed to copy table.');
            }
            window.getSelection().removeAllRanges();
        });
    </script>
</body>

</html>